body {
  background-color: #a5477c;
  background-color: #db4b54;
  background-color: #c94861;
  background-color: #f1fde7;
  background-color: #c94a61;
  background-color: #d9a324;
}

body, input, select, button {
  font-size: 16pt;
  color: #261422;
}

input, select, button {
  display: block;
  background-color: #f1fde7;
  border: 2px solid #261422;
  border-radius: 4px;
  padding: 4px 12px;
}

.pinned {
  position: fixed;
  top: 0;
}

.accent {
  color: #a5477c;
  color: #1c4408;
}

button {
  border-radius: 12px;
}

form {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: #d9a324;
  background-color: #c94a61;
  padding: 8px;
}

label {
  display: block;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

::placeholder {
  text-align: left;
}

.table-area {
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0;
  padding: 0 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody tr {
  border-top: 1px dashed #ccc;
}

th {
  text-align: left;
}

th:first-child {
  width: 45%;
}

.money {
  text-align: right;
}

.note {
  color: #1c4408;
  text-align: center;
  margin: 1em 0;
}

.new-person {
  margin: 0;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
}

.new-person :first-child {
  grid-column: span 2;
}

legend {
  padding: 0;
}
